@import "/src/styles.less";

.editorWrapper {
    flex-grow: 3;
    min-width: 30%;
    height: 100%;
}

.runBtn {
    background-color: @color-green;
    min-width: 70px;
    min-height: 20px;
    border-radius: 10px;
    border-color: none;
    margin-bottom: 16px;
}

.executeResponse {
    
}