.fullName {

}

.vacancy {

}

.time {

}

.tasksCount {

}

.reviewButtons {

}
/* averageGrade: number;
reviewerComment: string;
doneTasksCount: number;
tasksCount: number;
interviewResult: number; */